.content {
    margin-left: 200px;
}

.side {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: #9BDDFF;
    width: 180px;
    padding: 10px;
}

li.menu_item{
    margin-top: 18px;
}

li.command_item{
    margin-top: 10px;
}

a.light{
    color: #E7FEFF;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.commande_list{
    margin-left: 20px;
}

h3.command_title{
    margin-bottom: 0px;
}

ul li {
    color: #fff;
}

.red {
    background-color: red;
}

#red {
    background-color: red;
}