/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 avr. 2016, 11:28:57
    Author     : aBennouna
*/

.myTable{   
	border-collapse:collapse;
}

.myTable-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.myTable-odd-row{
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.myTable-even-row{
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}